#mailchimp_overlay.row {
  display: flex;
  flex-direction: row;
}

#mailchimp_overlay.column {
  display: flex;
  flex-direction: column;
}

#mailchimp_overlay .title {
  float: none;
  white-space: normal;
  padding: 0 0 .5rem;
  margin: 0;
}

#mailchimp_overlay .title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

#mailchimp_overlay .content {
  padding: 1.8rem 1.8rem 0;
  margin-bottom: 1rem;
}

#mailchimp_overlay .content form {
  text-align: center;
}

#mailchimp_overlay .content form .js-form-item {
  text-align: left;
}

#mailchimp_overlay label {
  margin-block: 0;
  margin-bottom: .5rem;
  display: table;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#mailchimp_overlay .content form .js-form-item input {
  width: 100%;
}

#mailchimp_overlay .disclaimer {
  font-size: .55rem;
}

#mailchimp_overlay .text {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

#mailchimp_overlay .text {
  width: 90%;
  text-align: center;
}

#mailchimp_overlay .button.js-form-submit.form-submit,
#mailchimp_overlay .btn-primary {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #000000;
  padding: 0.5rem 0;
  display: inline-block;
  border: none;
  border-radius: 0;
  width: 95%;
  box-sizing: content-box;
}

#mailchimp_overlay .button.js-form-submit.form-submit {
  line-height: 31.2px;
  margin: 0;
  width: 100%;
}

#mailchimp_overlay .button.js-form-submit.form-submit:hover,
#mailchimp_overlay .btn-primary:hover {
  color: #fff;
  background-color: #f55951;
  /* border-color: #f55951; */
}

#mailchimp_overlay .button.js-form-submit.form-submit:focus,
#mailchimp_overlay .btn-primary:focus {
  box-shadow: 49, 132, 253;
}

#mailchimp_overlay .button.js-form-submit.form-submit:active,
#mailchimp_overlay .btn-primary:active {
  color: #fff;
  background-color: #f55951;
  /* border-color: #0a53be; */
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#mailchimp_overlay .top_image_container {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

#mailchimp_overlay .left_image_container,
#mailchimp_overlay .right_image_container {
  position: relative;
  width: 400px;
  height: auto;
  margin: 0;
  padding: 0;
}

#mailchimp_overlay .img__background {
  background-image: url(https://images.unsplash.com/photo-1546793665-c74683f339c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mailchimp_overlay .img__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* #mailchimp_overlay {
  background-color: var(--enews-background-color);
}

#mailchimp_overlay .disclaimer {
  font-size: 10px;
}

#mailchimp_overlay .close_overlay_wrapper {
  text-align: right;
}

#enews_signup_wrapper .enews_signup_content {
  font-size: 1.2em;
  color: var(--enews-text-color);
}

#mailchimp_overlay_2column_wrapper {
  display: flex;
}
 
#mailchimp_overlay_2column_wrapper .enews_signup_image {
  margin-right: 10px;
  width: 100%;
  height: auto;
  padding: 10px;
  background-image: var(--enews-background-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*/