{#
/**
 * @file
 * Contains Drupal\mailchimp_overlay\templates\mailchimp-overlay-modal-right-image.html.twig.
 * Mailchimp Overlay Modal Right Image Template.
 */
#}
{% set background_image_url = backgroundImage %}
{# {% set text_color = textColor %}
{% set background_color = backgroundColor %} #}

<div id="mailchimp_overlay" class="row-reverse">
	<div class="image_container">
		<div class="img__background" style="--mailchimp-overlay-background-url: url({{ background_image_url }});"></div>
	</div>
	<div class="content">
		<h2 class="title">{{title}}</h2>
		{{ signupform }}
	{% if disclaimer %}
		<p class="text">{{ disclaimer }}</p>
	{% endif %}
	</div>
</div>