{#
/**
 * @file
 * Contains Drupal\mailchimp_overlay\templates\mailchimp-overlay-thankyou.html.twig.
 * Mailchimp Overlay Thank You Template.
 */
#}

<div id="mailchimp_overlay">
	{{ message }}
	<div class="close_overlay_wrapper">
		<button class="btn btn-link button button--link close-overlay">Close</button>
	</div>
</div>
