{#
/**
 * @file
 * Contains Drupal\mailchimp_overlay\templates\mailchimp-overlay-default.html.twig.
 * Mailchimp Overlay Default Template.
 */
#}
<div id="mailchimp_overlay">
	<div class="content">
		<h2 class="title">{{title}}</h2>
		{{ signupform }}
	{% if disclaimer %}
		<p class="text">{{ disclaimer }}</p>
	{% endif %}
	</div>
</div>